body {
    background-color: #435165;
    margin: 0;
}

.register {
    width: 400px;
    background-color: #FFFFFF;
    margin: 100px auto;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0.3, 0);
}

.register h1 {
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: #5b6574;
}

.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.register form input[type="text"],
.register form input[type="password"],
.register form input[type="email"] {

    height: 50px;
    width: 310px;
    margin-bottom: 20px;
    padding: 0 15px;

}

.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #aad632;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #FFFFFF;
    transition: background-color 0.2s;
}

.register form input[type="submit"]:hover {
    background-color: #2864c7;
    transition: background-color 0.2s;
}